@model IEnumerable<Todo.Models.TodoItem>

@{
    ViewData["Title"] = "Index";
}

<h1>清單</h1>

<p>
    <a asp-action="Create"><input type="button" class="btn btn-outline-success" value="建立新項目"/></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id=@item.Id><input type="button" class="btn btn-outline-primary" value="編輯" /></a>
                    <a asp-action="Details" asp-route-id=@item.Id><input type="button" class="btn btn-outline-info" value="明細" /></a>
                    <a asp-action="Delete" asp-route-id=@item.Id><input type="button" class="btn btn-outline-danger" value="刪除" /></a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
<script>

</script>
}